@import url('http://fonts.cdnfonts.com/css/pokemon-hollow');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.inserts, .resultsPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
} */
body {
    margin-top: 100px;
    margin-bottom:100px
}

.content{
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    font-family: 'Fredoka One', cursive;
    height: 80vh;
    font-weight: 500;
}




.card{
    background-color:#FFDE00;
    box-shadow: 2px 10px 10px 2px #787878;
    border-radius: 10px;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 2em;
    height:65vh
}

.imgPokemon{ 
    background: center/cover;
    height: 100px;
    width: 100%; 
}

.titlePokemon {
    font-family: 'Pokemon Hollow', sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    font-size: 3rem;
}

img{
    margin-left: 130px;  
    margin-right:130px;
    max-width:130px;
    max-height:700px;
    padding-bottom: 28px;
    padding-top:5px;
    }

.topCard{
    display:flex;
    flex-direction: column;
    justify-content: space-around;}

input{
    margin-top: 1vh;
    margin-bottom:1vh;
	display: inline-block;
	color: #f4f2ca;
	text-align: center;
	background-color: #B3A125;
	padding: .9em 1.8em;
	border: none;
	cursor:text;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	transition: all .1s linear;
}

.bottomCard{
    display:flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1em;
    line-height: 5px
}

.btnPokemon{
    background-color: #f4f2ca;
}

@media screen and (max-width: 1300px){
    .card {
        background-color: #F88E00;
        box-shadow: 1.5px 8px 8px 1.5px #787878;
        border-radius: 8px;
        padding-left: 3.5em;
        padding-right: 3.5em;
        margin-bottom: 1.5em;
        height: 80vh;
        
    }

}

@media screen and (max-width: 500px) {
    .card {
        background-color: #9f9;
        box-shadow: 0.5px 6px 6px 1px #787878;
        border-radius: 6px;
        margin-bottom: 1em;
        height: 70vh;
    }

    .content{
    display: flex;
    justify-content: center;
    align-items:center;
    align-content: center;
    font-family: 'Fredoka One', cursive;
    height: 80vh;
    font-weight: 500;

    
}
}
